<a href="https://colab.research.google.com/github/ekacs/analisa_log_akses_SPSE/blob/main/analisa_log_akses_user_SPSE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
from google.colab import drive

In [8]:
drive.mount('/content/drive')
log_betahamu = pd.read_excel('/content/drive/My Drive/INSPEKTORAT INVESTIGASI 2022 [KORWIL-IV]/persekongkolan disnav dumai/tender rambu suar dumai/log Personil/log beta hamu.xlsx') #nama_file sesuaikan dengan nama file yang diupload
#log_betahamu.describe()
#log_betahamu.info()
log_betahamu.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

          Waktu Login        Waktu Logout       IP Address
0  9 April 2022 10:44  9 April 2022 11:23  180.244.163.247
1  8 Maret 2022 15:11  8 Maret 2022 15:17       36.71.90.4
2  8 Maret 2022 15:09                 NaN       36.71.90.4
3  8 Maret 2022 09:51  8 Maret 2022 10:22    114.10.25.135
4  8 Maret 2022 08:43  8 Maret 2022 09:15      36.71.136.9

In [36]:
log_yulikartika = pd.read_excel('/content/drive/My Drive/INSPEKTORAT INVESTIGASI 2022 [KORWIL-IV]/persekongkolan disnav dumai/tender rambu suar dumai/log Personil/log yuli kartika.xlsx') #nama_file sesuaikan dengan nama file yang diupload
#log_betahamu.describe()
#log_yulikartika.head()
log_yulikartika.columns = ['waktu login pemenang', 'waktu logout pemenang', 'IP Address pemenang']
log_yulikartika.head()

  waktu login pemenang waktu logout pemenang IP Address pemenang
0   9 Maret 2022 14:10    9 Maret 2022 14:13       182.0.235.202
1   9 Maret 2022 12:19    9 Maret 2022 13:00        182.0.235.66
2   9 April 2022 11:59    9 April 2022 12:06     114.124.177.208
3   8 Maret 2022 23:31    8 Maret 2022 23:32        182.0.138.30
4   8 Maret 2022 11:37    8 Maret 2022 11:39     114.124.204.159

In [11]:
log_franky = pd.read_excel('/content/drive/My Drive/INSPEKTORAT INVESTIGASI 2022 [KORWIL-IV]/persekongkolan disnav dumai/tender rambu suar dumai/log Personil/FRANKY NUARI PANJAITAN.xlsx') #nama_file sesuaikan dengan nama file yang diupload
#log_betahamu.describe()
log_franky.head()

,LPSE Kementrian Perhubungan - Log Akses Pengguna LPSE,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,User ID,Waktu Login,Waktu Logout,IP Address
1,FRANKY_POKJA,12 Juli 2022 13:24,12 Juli 2022 13:55,114.122.42.195
2,FRANKY_POKJA,24 Juni 2022 14:07,24 Juni 2022 14:37,114.122.12.252
3,FRANKY_POKJA,24 Juni 2022 12:12,24 Juni 2022 12:45,114.122.12.252
4,FRANKY_POKJA,13 Juni 2022 14:56,13 Juni 2022 15:27,114.122.7.114

In [18]:
log_indra = pd.read_excel('/content/drive/My Drive/INSPEKTORAT INVESTIGASI 2022 [KORWIL-IV]/persekongkolan disnav dumai/tender rambu suar dumai/log Personil/IHSANURRIZQIE INDRA SIREGAR.xlsx') #nama_file sesuaikan dengan nama file yang diupload
log_indra.head()

,LPSE Kementrian Perhubungan - Log Akses Pengguna LPSE,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,User ID,Waktu Login,Waktu Logout,IP Address
1,INDRAPOKJA,30 Juli 2022 23:29,31 Juli 2022 00:00,180.241.44.16
2,INDRAPOKJA,27 Juli 2022 13:58,27 Juli 2022 14:34,125.165.108.203
3,INDRAPOKJA,27 Juli 2022 10:37,27 Juli 2022 11:07,36.69.118.109
4,INDRAPOKJA,23 Juli 2022 11:56,23 Juli 2022 12:26,125.162.16.130

In [14]:
log_safrida = pd.read_excel('/content/drive/My Drive/INSPEKTORAT INVESTIGASI 2022 [KORWIL-IV]/persekongkolan disnav dumai/tender rambu suar dumai/log Personil/SAFRIDA HARIANJA.xlsx') #nama_file sesuaikan dengan nama file yang diupload
log_safrida.head()

,LPSE Kementrian Perhubungan - Log Akses Pengguna LPSE,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,User ID,Waktu Login,Waktu Logout,IP Address
1,SAFRIDAPOKJA,31 Juli 2022 10:14,31 Juli 2022 10:46,114.122.6.78
2,SAFRIDAPOKJA,29 Juli 2022 07:21,29 Juli 2022 08:28,125.165.34.183
3,SAFRIDAPOKJA,27 Juli 2022 14:31,27 Juli 2022 15:02,125.165.108.203
4,SAFRIDAPOKJA,27 Juli 2022 10:53,27 Juli 2022 11:24,36.69.118.109

In [16]:
log_ubaidillah = pd.read_excel('/content/drive/My Drive/INSPEKTORAT INVESTIGASI 2022 [KORWIL-IV]/persekongkolan disnav dumai/tender rambu suar dumai/log Personil/UBAIDILLAH.xlsx') #nama_file sesuaikan dengan nama file yang diupload
log_ubaidillah.head()

,LPSE Kementrian Perhubungan - Log Akses Pengguna LPSE,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,User ID,Waktu Login,Waktu Logout,IP Address
1,UBAIDILLAHPOKJA,29 Juli 2022 07:59,29 Juli 2022 08:31,36.82.97.154
2,UBAIDILLAHPOKJA,24 Juli 2022 12:22,24 Juli 2022 14:03,182.3.8.192
3,UBAIDILLAHPOKJA,24 Juli 2022 11:08,24 Juli 2022 12:18,182.3.8.192
4,UBAIDILLAHPOKJA,22 Juli 2022 18:44,22 Juli 2022 19:42,182.3.8.89

In [17]:
log_wiwin = pd.read_excel('/content/drive/My Drive/INSPEKTORAT INVESTIGASI 2022 [KORWIL-IV]/persekongkolan disnav dumai/tender rambu suar dumai/log Personil/WIWIN SIJABAT.xlsx') #nama_file sesuaikan dengan nama file yang diupload
log_wiwin.head()

,LPSE Kementrian Perhubungan - Log Akses Pengguna LPSE,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,User ID,Waktu Login,Waktu Logout,IP Address
1,WIWIN_POKJA,18 Juli 2022 15:18,18 Juli 2022 15:48,114.122.13.50
2,WIWIN_POKJA,16 Juli 2022 20:07,16 Juli 2022 20:38,114.122.10.172
3,WIWIN_POKJA,4 Juli 2022 12:10,4 Juli 2022 12:40,114.122.11.150
4,WIWIN_POKJA,4 Juli 2022 12:02,4 Juli 2022 12:33,180.241.45.131

In [19]:
log_yulippk = pd.read_excel('/content/drive/My Drive/INSPEKTORAT INVESTIGASI 2022 [KORWIL-IV]/persekongkolan disnav dumai/tender rambu suar dumai/log Personil/YULIANA M.P. SIREGAR.xlsx') #nama_file sesuaikan dengan nama file yang diupload
log_yulippk.head()

,LPSE Kementrian Perhubungan - Log Akses Pengguna LPSE,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,User ID,Waktu Login,Waktu Logout,IP Address
1,YULIANA.MINAR_PPK,29 Juli 2022 09:27,29 Juli 2022 09:33,36.69.127.172
2,YULIANA.MINAR_PPK,28 Juli 2022 13:55,28 Juli 2022 14:08,36.69.127.172
3,YULIANA.MINAR_PPK,25 Juli 2022 08:28,25 Juli 2022 08:54,110.137.84.202
4,YULIANA.MINAR_PPK,14 Juli 2022 10:32,14 Juli 2022 10:38,36.69.122.168

In [27]:
log_pokjappk = log_franky.append([log_indra, log_safrida, log_wiwin, log_ubaidillah], ignore_index = True)
log_pokjappk.head(10)

,LPSE Kementrian Perhubungan - Log Akses Pengguna LPSE,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,User ID,Waktu Login,Waktu Logout,IP Address
1,FRANKY_POKJA,12 Juli 2022 13:24,12 Juli 2022 13:55,114.122.42.195
2,FRANKY_POKJA,24 Juni 2022 14:07,24 Juni 2022 14:37,114.122.12.252
3,FRANKY_POKJA,24 Juni 2022 12:12,24 Juni 2022 12:45,114.122.12.252
4,FRANKY_POKJA,13 Juni 2022 14:56,13 Juni 2022 15:27,114.122.7.114
5,FRANKY_POKJA,13 Juni 2022 12:15,13 Juni 2022 12:51,114.122.7.114
6,FRANKY_POKJA,19 Mei 2022 10:18,19 Mei 2022 10:49,114.122.43.199
7,FRANKY_POKJA,16 Mei 2022 15:22,16 Mei 2022 15:53,114.122.40.91
8,FRANKY_POKJA,10 Mei 2022 19:42,10 Mei 2022 20:43,103.111.140.158
9,FRANKY_POKJA,25 April 2022 15:25,25 April 2022 15:56,114.122.37.185

In [28]:
log_pokjappk.drop_duplicates()

,LPSE Kementrian Perhubungan - Log Akses Pengguna LPSE,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,User ID,Waktu Login,Waktu Logout,IP Address
1,FRANKY_POKJA,12 Juli 2022 13:24,12 Juli 2022 13:55,114.122.42.195
2,FRANKY_POKJA,24 Juni 2022 14:07,24 Juni 2022 14:37,114.122.12.252
3,FRANKY_POKJA,24 Juni 2022 12:12,24 Juni 2022 12:45,114.122.12.252
4,FRANKY_POKJA,13 Juni 2022 14:56,13 Juni 2022 15:27,114.122.7.114
...,...,...,...,...
12259,UBAIDILLAHPOKJA,6 Januari 2020 10:02,NaN,"10.0.45.109, 125.161.105.173"
12260,UBAIDILLAHPOKJA,3 Januari 2020 16:24,3 Januari 2020 16:31,114.125.13.67
12261,UBAIDILLAHPOKJA,2 Januari 2020 16:42,2 Januari 2020 16:47,"10.0.225.223, 125.161.105.7"
12262,UBAIDILLAHPOKJA,2 Januari 2020 11:39,NaN,"10.0.225.223, 125.161.105.7"
12263,UBAIDILLAHPOKJA,2 Januari 2020 10:38,NaN,"10.0.225.223, 125.161.105.7"

In [31]:
log_betahamu.set_index('IP Address').join(log_pokjappk.set_index('Unnamed: 3'))

,Waktu Login,Waktu Logout,LPSE Kementrian Perhubungan - Log Akses Pengguna LPSE,Unnamed: 1,Unnamed: 2
114.10.25.135,8 Maret 2022 09:51,8 Maret 2022 10:22,NaN,NaN,NaN
114.10.27.229,23 Maret 2022 14:54,23 Maret 2022 15:25,NaN,NaN,NaN
114.10.27.229,23 Maret 2022 14:02,23 Maret 2022 14:33,NaN,NaN,NaN
114.10.27.229,23 Maret 2022 13:13,23 Maret 2022 13:46,NaN,NaN,NaN
114.10.27.229,23 Maret 2022 12:35,23 Maret 2022 13:05,NaN,NaN,NaN
...,...,...,...,...,...
36.71.86.84,11 Maret 2022 18:09,11 Maret 2022 18:10,NaN,NaN,NaN
36.71.90.4,8 Maret 2022 15:11,8 Maret 2022 15:17,NaN,NaN,NaN
36.71.90.4,8 Maret 2022 15:09,NaN,NaN,NaN,NaN
66.96.225.111,26 Maret 2022 17:23,26 Maret 2022 17:54,NaN,NaN,NaN
66.96.225.87,20 Maret 2022 15:03,20 Maret 2022 15:34,NaN,NaN,NaN

In [32]:
log_betahamu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Waktu Login   76 non-null     object
 1   Waktu Logout  64 non-null     object
 2   IP Address    76 non-null     object
dtypes: object(3)
memory usage: 1.9+ KB

In [33]:
log_yulikartika.set_index('IP Address').join(log_pokjappk.set_index('Unnamed: 3'))

,Waktu Login,Waktu Logout,LPSE Kementrian Perhubungan - Log Akses Pengguna LPSE,Unnamed: 1,Unnamed: 2
103.10.66.3,15 April 2022 15:43,NaN,NaN,NaN,NaN
114.124.141.211,12 Maret 2022 23:57,13 Maret 2022 00:43,NaN,NaN,NaN
114.124.148.247,5 April 2022 05:27,5 April 2022 05:38,NaN,NaN,NaN
114.124.149.230,5 April 2022 11:37,5 April 2022 12:10,NaN,NaN,NaN
114.124.150.17,4 April 2022 16:56,4 April 2022 17:00,NaN,NaN,NaN
...,...,...,...,...,...
182.3.36.17,12 April 2022 11:40,12 April 2022 11:43,NaN,NaN,NaN
182.3.36.23,12 April 2022 06:43,12 April 2022 06:54,NaN,NaN,NaN
182.3.36.25,12 April 2022 01:52,12 April 2022 01:54,NaN,NaN,NaN
182.3.37.215,16 April 2022 14:21,16 April 2022 14:23,NaN,NaN,NaN
182.3.37.223,11 April 2022 11:41,11 April 2022 11:47,NaN,NaN,NaN

In [37]:
log_yulikartika.set_index('IP Address pemenang').join(log_betahamu.set_index('IP Address'))

,waktu login pemenang,waktu logout pemenang,Waktu Login,Waktu Logout
103.10.66.3,15 April 2022 15:43,NaN,NaN,NaN
114.124.141.211,12 Maret 2022 23:57,13 Maret 2022 00:43,NaN,NaN
114.124.148.247,5 April 2022 05:27,5 April 2022 05:38,NaN,NaN
114.124.149.230,5 April 2022 11:37,5 April 2022 12:10,NaN,NaN
114.124.150.17,4 April 2022 16:56,4 April 2022 17:00,NaN,NaN
...,...,...,...,...
182.3.36.17,12 April 2022 11:40,12 April 2022 11:43,NaN,NaN
182.3.36.23,12 April 2022 06:43,12 April 2022 06:54,NaN,NaN
182.3.36.25,12 April 2022 01:52,12 April 2022 01:54,NaN,NaN
182.3.37.215,16 April 2022 14:21,16 April 2022 14:23,NaN,NaN
182.3.37.223,11 April 2022 11:41,11 April 2022 11:47,NaN,NaN

In [39]:
log_betahamu.set_index('IP Address').join(log_yulikartika.set_index('IP Address pemenang'))

,Waktu Login,Waktu Logout,waktu login pemenang,waktu logout pemenang
114.10.25.135,8 Maret 2022 09:51,8 Maret 2022 10:22,NaN,NaN
114.10.27.229,23 Maret 2022 14:54,23 Maret 2022 15:25,NaN,NaN
114.10.27.229,23 Maret 2022 14:02,23 Maret 2022 14:33,NaN,NaN
114.10.27.229,23 Maret 2022 13:13,23 Maret 2022 13:46,NaN,NaN
114.10.27.229,23 Maret 2022 12:35,23 Maret 2022 13:05,NaN,NaN
...,...,...,...,...
36.71.86.84,11 Maret 2022 18:09,11 Maret 2022 18:10,NaN,NaN
36.71.90.4,8 Maret 2022 15:11,8 Maret 2022 15:17,NaN,NaN
36.71.90.4,8 Maret 2022 15:09,NaN,NaN,NaN
66.96.225.111,26 Maret 2022 17:23,26 Maret 2022 17:54,NaN,NaN
66.96.225.87,20 Maret 2022 15:03,20 Maret 2022 15:34,NaN,NaN